:root {
	--accent: var(--ghost-accent-color);

	@media only screen and (prefers-color-scheme: dark) {
		--accent: color-mix(in hsl, gray, var(--ghost-accent-color));
	}
}

body {
	font-family: var(--gh-font-body, var(--font-family));
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--gh-font-heading, var(--font-family));
}

figcaption {
	text-align: center;
}

.kg-width-wide {
	max-width: 80rem;
}

.kg-width-full {
	max-width: 100vw;
	padding: 0;
}

.kg-card {
	margin: 3rem auto;
}

.kg-width-full:not(.kg-card-hascaption):has(+.kg-width-full) {
	margin-bottom: 0;
}

.kg-width-full:not(.kg-card-hascaption)+.kg-width-full {
	margin-top: 0;
}
