@layer base {
	:root {
		--font-head: 'JetBrains Mono', monospaced;
		--font-body: 'IBM Plex Sans', Georgia, serif;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: calc(var(--header-height) + 3rem);
	}

	body {
		margin: 0;
		padding: 0;

		font-family: var(--font-body);

		background-color: var(--bg-color);
		color: var(--color);
	}

	nav,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	figure,
	card-grid,
	figure {
		max-width: var(--content-width);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		padding: 0 1rem;
	}

	h1,
	h2 {
		margin-top: 6rem;
	}

	h3,
	h4 {
		margin-top: 3rem;
	}

	h5,
	h6,
	p,
	ul,
	ol,
	figure,
	card-grid,
	figure {
		margin-top: 1rem;
	}

	ul,
	ol {
		padding: 0;
	}

	body>main {
		padding-bottom: 50vh;
		flex: 1 1 auto;
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 16px;
		corner-shape: squircle;
	}

	figure img {
		width: 100%;
	}

	header * {
		font-family: var(--font-head);
	}

	p {
		text-align: justify;
	}

	.copy {
		font-size: small;
		color: var(--fg-muted);
	}

	logo {
		font-size: large;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-head);
	}

	h1 {
		font-size: 32pt;
		text-transform: capitalize;
	}

	h2 {
		font-size: x-large;
	}

	h3 {
		font-size: large;
	}

	hr {
		margin: 6rem 0;
	}

	a {
		color: var(--color);
	}
}
