@layer color {
	:root {
		--bg-color: hsl(0 0% 100%);
		--color: hsl(220 20% 10%);

		--primary: hsl(220 60% 15%);
		--fg-primary: hsl(0 0% 98%);

		--secondary: hsl(220 15% 92%);
		--fg-secondary: hsl(220 20% 10%);

		--muted: hsl(220 10% 94%);
		--fg-muted: hsl(220 10% 45%);

		--accent: hsl(215 90% 50%);
		--fg-accent: hsl(0 0% 100%);

		--grid-line: hsl(220 15% 90%);
		--shadow: hsl(220 15% 90%);
	}

	@media only screen and (prefers-color-scheme: dark) {
		:root {
			--bg-color: hsl(220 40% 20%);
			--color: hsl(0 0% 95%);

			--primary: hsl(0 0% 95%);
			--fg-primary: hsl(220 20% 8%);

			--secondary: hsl(220 15% 18%);
			--fg-secondary: hsl(0 0% 95%);

			--muted: hsl(220 15% 18%);
			--fg-muted: hsl(220 10% 60%);

			--accent: color-mix(in hsl, hsl(215 90% 50%), gray);
			--fg-accent: hsl(0 0% 100%);

			--destructive: hsl(0 62% 30%);
			--fg-destructive: hsl(0 75% 50%);

			--grid-line: hsl(220 40% 30%);
			--shadow: hsl(220 40% 15%);
		}
	}

}

@layer layout {
	:root {
		--header-height: 4rem;
		--content-width: 60rem;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: calc(var(--header-height) + 3rem);
	}

	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		box-sizing: border-box;
		padding-top: var(--header-height);

		>header {
			height: var(--header-height);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;

			nav {
				padding: 0 1rem;
				height: 100%;
				align-self: stretch;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		nav,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		ul,
		ol,
		figure,
		card-grid,
		figure {
			max-width: var(--content-width);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
			padding: 0 1rem;
		}

		h1,
		h2 {
			margin-top: 6rem;
		}

		h3,
		h4 {
			margin-top: 3rem;
		}

		h5,
		h6,
		p,
		ul,
		ol,
		figure,
		card-grid,
		figure {
			margin-top: 1rem;
		}

		ul,
		ol {
			padding: 0;
		}

		>main {
			padding-bottom: 50vh;
			flex: 1 1 auto;
		}

		img {
			max-width: 100%;
			height: auto;
			border-radius: 16px;
			corner-shape: squircle;
		}

		figure img {
			width: 100%;
		}
	}
}

@layer base {
	:root {
		--font-head: 'JetBrains Mono', monospaced;
		--font-body: 'IBM Plex Serif', Georgia, serif;
	}

	body {
		font-family: var(--font-body);
		background-color: var(--bg-color);
		color: var(--color);

		>header {
			background-color: var(--bg-color);
		}
	}

	p {
		text-align: justify;
	}

	.copy {
		font-size: small;
		color: var(--fg-muted);
	}

	logo {
		font-size: large;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-head);
	}

	h1 {
		font-size: 32pt;
		text-transform: capitalize;
	}

	h2 {
		font-size: x-large;
	}

	h3 {
		font-size: large;
	}

	hr {
		margin: 6rem 0;
	}

	a {
		color: var(--color);
	}
}
